<nav
  class="navbar has-text-centered"
  role="navigation"
  aria-label="main navigation"
>
  <div class="navbar-brand">
    <a class="navbar-item" href="/">
      <h1 class="title">Books-Я-Us</h1>
    </a>
    <a class="navbar-item" href="/dashboard">
      <div class="list-item is-active subtitle">Home</div>
    </a>
    <a class="navbar-item" href="/dashboard/all">
      <div class="list-item is-active subtitle">All Books</div>
    </a>
    {{#if loggedIn}}
      <a class="navbar-item" href="/logout">
        <div id="logout" class="list-item is-active subtitle">Logout</div>
      </a>
    {{/if}}
    <a
      role="button"
      class="navbar-burger"
      aria-label="menu"
      aria-expanded="false"
    >
    </a>
  </div>
</nav>
<script type="module" src="/js/navbar.js"></script>