<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Books-Я-Us</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css"
    />
    <script src="jquery-3.7.1.min.js"></script>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <div class="container">
      {{{body}}}
    </div>
  </body>

</html>