{{> navbar}}
<section class="hero is-fullheight">
  <div class="section is-small"></div>
  <div class="hero-body is-flex-direction-column mb-5">
    <h1 class="has-text-left m-3 title">{{book.book_name}}</h1>
    <h2 class="has-text-left m-3 subtitle">{{book.book_author}}</h2>
    
    <div>
      <div id="parent" class="is-flex">
       <a>
        <figure class="card-base card m-2">
         <div class="card-body subtitle has-text-centered">
            {{book.genre}}
          </div>
        </figure>
       </a>
      </div>
      
    </div>
    <h2 class="has-text-left m-3 subtitle">{{book.book_description}}</h2>
  
  </div>
</section>
<script src="/js/dashboard.js"></script>
<link rel="stylesheet" href="/css/dashboard.css" />
