{{> navbar}}
<section class="hero is-fullheight">
  <div class="section is-medium"></div>
  <div class="hero-body is-flex-direction-column mb-5">
    <h1 class="m-3 title">Dashboard</h1>
    <div>
      <div id="parent" class="is-flex">
        <figure class="card-base card m-2">
          <div class="card-body playlist-name subtitle has-text-centered">
            {{book_name}}
          </div>
        </figure>
      </div>
    </div>
  </div>
</section>
<script src="js/dashboard.js"></script>
<link rel="stylesheet" href="css/dashboard.css" />
