{{> navbar}}
<section class="hero is-fullheight">
  <div class="section is-small"></div>
  <div class="hero-body is-flex-direction-column mb-5">
    <h1 class="m-3 title">Dashboard</h1>
    <div>
      <div id="parent" class="is-flex is-flex-wrap-wrap">
        {{#unless books}}
        <h3>No Books Saved</h3>
        {{/unless}}
      {{#each books}}
      <div style="flex-direction: column; display: flex;">
        <a href="/books/{{id}}">
        <figure class="card-base card m-2">
          {{!-- playlist name? --}}
          <div class="card-body playlist-name subtitle has-text-centered">
            {{book_name}}
          </div>
        </figure>
        </a>
        <form action="/api/books/fav/{{id}}" method="post">
          <button class="button" type="submit">♡</button>
        </form>
        </div>
      {{/each}}
      </div>
    </div>
  </div>
</section>
<script src="/js/dashboard.js"></script>
<link rel="stylesheet" href="/css/dashboard.css" />
