<header>
  <h2>Dashboard</h2>
</header>

<article>
  <footer>
    <a href="#" role="button">View</a>
  </footer>
</article>
<article>
  <footer>
    <a href="#" role="button" class="secondary">Delete</a>
  </footer>
</article>
<article>
  <footer>
    <a href="#" role="button" class="contrast">Update</a>
  </footer>
</article>
<article>
  <footer>
    <a href="#" role="button" class="outline">Edit</a>
  </footer>
</article>
<article>
  <footer>
    <a href="#" role="button" class="contrast outline">Cancel</a>
  </footer>
</article>
<article>
  <footer>
    <a href="#" role="button" class="secondary outline">Save</a>
  </footer>
</article>
