{{> navbar }}
<section class="hero is-fullheight">
  <div class="section is-medium"></div>
  <div class="hero-body is-flex-direction-column mb-5">
    <h1 class="m-3 title">Dashboard</h1>
    <div>
      <div id="parent" class="is-flex">
        <figure class="card-base card m-2">
          <div class="card-body playlist-name subtitle has-text-centered">
            Title
          </div>
        </figure>
      </div>
    </div>
  </div>
  <script id="template" type="text/x-handlebars-template">
    <div> The word is:
    {{data}}
    </div>
  </script>
  <link rel="stylesheet" href="css/dashboard.css" />
</section>
<script type="" src="js/dashboard.js"></script>