<section class="hero is-fullheight">
  <NavBar />
  <div
    class="hero-body has-text-centered is-flex-direction-column mb-5"
  >
    <h1 class="m-3 title">Welcome to Books-Я-Us!</h1>
    <div class="">
      <a href="./signUp"><button class="button is-text m-3">Sign Up</button></a>
      <a href="./login"><button class="button is-text m-3">Log In</button></a>
    </div>
  </div>

</section>