{{> navbar}}
<section class="hero is-fullheight">
  <NavBar />
  <div class="hero-body has-text-centered is-flex-direction-column mb-5">
    <h1 class="m-3 title">Welcome to Books-Я-Us!</h1>
    <div class="">
      <a class="button is-text m-3" href="/signup">Sign Up</a>
      <a class="button is-text m-3" href="/login">Log In</a>
    </div>
  </div>
</section>