<section class="hero is-fullheight">
  <NavBar />
  <div class="hero-body is-flex-direction-column is-justify-content-center">
    <h1 class="m-3 title has-text-light">Welcome to Books-Я-Us!</h1>
    <div>
      <a href="./signUp"><button class="button m-3">Sign Up</button></a>
      <a href="./login"><button class="button m-3">Log In</button></a>
    </div>
  </div>
</section>