<section class="hero is-fullheight">
  <NavBar />
  <div class="hero-body is-flex-direction-column is-justify-content-center">
    <h1 class="m-3 title has-text-light">Welcome to Books-Я-Us!</h1>
  </div>
</section>