<header>
  <h2>Blog Index</h2>
</header>

<article>
  <header>
    <h2>Story Item</h2>
  </header>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae voluptatum velit nulla provident eos ipsam facere inventore eum. Consectetur laboriosam asperiores expedita repellendus esse iste consequatur quia doloremque cum praesentium.
  </p>
</article>
<article>
  <header>
    <h2>Story Item</h2>
  </header>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias neque deserunt autem? Eius sunt, voluptate, cumque consequatur sequi repellendus deleniti laborum in odio soluta quam, temporibus ipsa labore a quis.
  </p>
</article>
<article>
  <header>
    <h2>Story Item</h2>
  </header>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad recusandae sapiente eos placeat inventore voluptatem maxime iste velit, incidunt quam, veniam nostrum! Officiis veniam, alias odio voluptatem consectetur debitis magnam.
  </p>
</article>
<article>
  <header>
    <h2>Story Item</h2>
  </header>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam voluptas placeat reprehenderit. Amet doloribus facere mollitia odio obcaecati nihil dolore culpa asperiores architecto dolorum. Minus fuga exercitationem dolore deleniti! Voluptates.
  </p>
</article>
