{{> navbar}}
<section class="hero is-fullheight">
  <div class="section is-medium"></div>
  <div class="hero-body has-text-centered is-flex-direction-column mb-5">
    <h1 class="m-3 title">Sign Up</h1>
    <div>
      <div class="field">
        <p class="control has-icons-right">
          <input class="input" type="email" id="username" placeholder="Username" />
          <span class="icon is-small is-left">
            <i class="fas fa-envelope"></i>
          </span>
          <span class="icon is-small is-right">
            <i class="fas fa-check"></i>
          </span>
        </p>
      </div>
      <div class="field">
        <p class="control has-icons-right">
          <input class="input" type="email" id="email" placeholder="Email" />
          <span class="icon is-small is-left">
            <i class="fas fa-envelope"></i>
          </span>
          <span class="icon is-small is-right">
            <i class="fas fa-check"></i>
          </span>
        </p>
      </div>
      <div class="field">
        <p class="control">
          <input class="input" type="password" placeholder="Password" id="password" />
          <span class="is-small is-left">
            <i class="fas fa-lock"></i>
          </span>
        </p>
      </div>
      <div class="control">
        <button id="submit" class="button is-outline">Submit</button>
      </div>
    </div>
  </div>
  <script src = "/js/signup.js"></script>
</section>