.card {
  height: 180px;
  width: 120px;
}

.card-base {
  display: flex;
  justify-content: center;
  align-items: center;
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  width: 80%;
}
